/*Only use this file if you want to override bootstrap or create your own style*/

.progressBar {
  height: 20px;
  position: relative;
  background: #555;
  border-radius: 5px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.progressBar>span {
  display: block;
  height: 20px;
  border-radius: 5px;
  background-color: rgb(43, 194, 83);
}